.color_white {
  color: #fff;
}

.color_green {
  color: lightgreen;
}

.color_red {
  color: red;
}

.color_secondary {
  color: darkgrey;
}

.color_white {
  color: #fff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}
