<!-- <ng-container *ngIf="!isLoading; else loader">
  <h1>System Information test</h1>
  <div *ngIf="isElectronApp; else browser">
    <div class="gpu-wrapper">
      <ng-container *ngFor="let item of gpuData?.controllers">
        <div *ngIf="item.vendor == 'NVIDIA'">
          <p class="gpu-name">
            <strong>{{ item.vendor }}</strong>
          </p>
          <p class="gpu-temperature">
            <strong>{{ item.temperatureGpu }}&#8451;</strong>
          </p>
        </div>
      </ng-container>
    </div>

    <div class="cpu-wrapper">
      <h2>CPU Temperature</h2>
      <pre>{{ cpuInfo?.temp?.main }}°C</pre>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div class="loading-indicator">
    Loading system information...
  </div>
</ng-template>

<ng-template #browser>
  <p>This application is running in a web browser.</p>
</ng-template> -->

<main class="bento">
  <div class="bento__container" variant-1>
    <div class="bento__item" style="--rows: span 6 / -1; --columns: -1 / 3">
      <h3>variant-3.1</h3>
    </div>
    <!-- <div class="bento__item"> variant-1.1</div> -->
  </div>

  <div class="bento__container" variant-2>
    <div *ngFor="let item of items" class="bento__item" [ngStyle]="item.style">
      <h3>{{ item.content }}</h3>
    </div>
  </div>
  <div class="bento__container" variant-3>
    <!-- <div class="bento__item" style="--rows: span 1 / -3; --columns: 3 / 1;">variant-3.1</div> -->
    <div class="bento__item">
      <h3>variant-3.1</h3>
    </div>
  </div>
</main>
