* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    background-color: #101010;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // height: 100vh;
  }

  $bento_block_height : 300px;

  h3 {
    background-color: #f7b3ff;
    background: linear-gradient(to right, #f7b3ff 10%, #c53ccf 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
  }

  i {
    font-size: 2.5rem;
    margin: auto;
  }
  
  .bento {
    // min-block-size: 100vh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    justify-content: center;
    align-items: center;
    padding: 1ch;
  }
  
  .bento__container {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 2fr 2fr 3fr;
    gap: 1ch;
    min-height: inherit;
    flex: 2 0 320px;
  }
  
  .bento__container[variant-1] {
    --bg: #444;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: $bento_block_height;
  }
  
  .bento__container[variant-2] {
    --bg: #444;
    grid-template-columns: 2fr 3fr 1fr 2fr;
    grid-template-rows: .3fr 0.6fr .8fr .8fr;
    height: $bento_block_height;
  }
  
  .bento__container[variant-3] {
    --bg: #444;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    height: $bento_block_height;
  }
  
  .bento__item {
    height: 100%; width: 100%;
    grid-column: var(--columns, span 1);
    grid-row: var(--rows, span 1);
    background-color: var(--bg);
    border-radius: 1rem;
    transition: all 200ms ease;
  }

  .bento__item:hover {
    cursor: pointer;
    background-color: #555;
    outline: 1px solid #fff;
  }
  