
<div>
  <span>{{  isElectronApp ? "desktop agent" : "browser agent" }}</span>
</div>

<h1>System Information test1</h1>
<ng-container *ngIf="!isLoading; else loader">
  <div *ngIf="isElectronApp; else browser">
    <div class="gpu-wrapper">
      <ng-container *ngFor="let item of gpuData?.controllers">
        <div *ngIf="item.vendor == 'NVIDIA'">
          <p class="gpu-name">
            <strong>{{ item.vendor }}</strong>
          </p>
          <p class="gpu-temparature">
            <strong>{{ item.temperatureGpu }}&#8451;</strong>
          </p>
        </div>
      </ng-container>
    </div>

    <div class="cpu-wrapper">
      <h2>CPU Temperature</h2>
      <pre>{{ cpuTemp?.main }}°C</pre>
    </div>
  </div>
</ng-container>

<ng-template #browser> mocks data </ng-template>
<ng-template #loader> Loading... </ng-template>

