:host {
  display: block;
}
/* tab.component.css */
.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tabs button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #ccc;
  font-weight: bold;
}
