:host {
  display: block;
}
/* tab.component.css */
.tabs {
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
}

.tabs label {
  input {
    cursor: pointer;
  }
  z-index: 999;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #ccc;
  font-weight: bold;
}
