:host {
  display: block;
}
/* tab.component.css */
.tabs {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.tabs label {
  input {
    cursor: pointer;
  }
  z-index: 999;
}

/* END CHECKBOX STYLE */

