/* You can add global styles to this file, and also import other style files */
@import "styles/_normalize";
@import "styles/helpers";

body {
  display: grid;
  place-content: center;
  background-color: #000000;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
  overflow: hidden;
}
