/* You can add global styles to this file, and also import other style files */
@import "styles/_normalize";
@import "styles/helpers";

body {
  display: grid;
  place-content: center;
  background-color: #000000;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
  overflow: hidden;
}


// TABLE
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

th, td {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}